/*
colors used::
Very dark blue: #1c1d20 or #0e1b21;
Gray: #999d9e;
Rich green: #085e36;
Magenta: #b71567;
White: #ffffff
*/

* {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
}

/*Layout styling*/

.container {
    padding: 0 15px;
}

  body {
    background-color: #ffffff;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4; /*sets line height to 1.6 * the font size */
    color: #022449;
}

h1, h2, h3, h4 {
    line-height: 1.4;
}

h1 {
    font-size: 2.5em;
    font-weight: 500;
    font-family: 'Bakbak One', serif;
    color: #393939;
    /*color: #5580ca;*/
}

h2 {
    font-size: 2.0em;
    font-weight: 500;
    color: #393939;
    /*color: #5580ca;*/
}

h3 {
    font-size: 1.5em;
    font-weight: 500;
    color: #393939;
    /*color: #5580ca;*/
}

h4 {
    font-size: 1.25;
    font-weight: 500;
}

.type {
    display: inline-block;
    font-size: 12px;
    font-variant: small-caps;
    background-color: #c8eff9;
    color: #022449;
    padding: 10px 20px;
    border-radius: 24px;
}

.kind {
    display: inline-block;
    color: #8f8f8f;
    font: 8px;
    padding-bottom: 10px;
    opacity: 0.7;
}

img {
    width: 100%;
}

/*General Links*/

a {
    color: #393939;
    text-decoration: underline; /*no underlining*/
}

a:visited { /* visited link */
    color: #393939;
    /*color: #5580ca;*/
}

a:hover,
a:focus {
    color: black;
    /*text-decoration: underline ;*/
}

a:active { /* selected link */
    color: #5580ca;
}

/*Project pages links*/



.link {
    color: #011123;
    text-decoration: none;
    margin: 0 10px;
    padding: 0 1%;
    display: inline-block;
    line-height: 1.5;
    transition: 0.7s;
}

.link:visited {
    color: #022449;
}

.link:hover,
.link:focus {
    color: #5580ca;
    padding: 0 12px;
    display: inline-block;
    text-decoration: underline;
    background-color: #c8eff9;
    border-radius: 3em;
}

.button {
    display: inline-block; /*since the a tag is inline by default you have to change this inline, as well*/
    
    background-color: #393939;
    color: #ffffff;
    font-weight: 300;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 12px;
    text-decoration: none;
    border-bottom: 2px solid #1c1d20; /* width of the border, type, color */
    transition: 0.2s opacity; 
}

.button:visited {
    color: #ffffff;
}

.button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
    transition: 0.4s;
    font-size: 18px;
}

.nav-button {
    color: #393939;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    padding: 5px 10px;
}

.nav-button:hover,
.nav-button:focus {
    text-decoration: underline;
    animation: 2s pulse calc(1) ease-in-out, 2s glow infinite 2s;
}


/*Project Page Hover*/

/*.zoom {
    transition: transform .5s;

}
  
.zoom:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
}*/



@keyframes pulse {
    0% {
        transform: scale(.95);
        text-shadow: 0 0 10px rgba(242, 125, 66, 0.0);
    }
    25% {
        transform: scale(1);
        text-shadow: 0 0 10px rgba(242, 125, 66, 0.7);
    }
    50% {
        transform: scale(1.05);
        text-shadow: 0 0 10px rgba(242, 125, 66, 0.9);
    }
    75% {
        transform: scale(1);
        text-shadow: 0 0 10px rgba(242, 125, 66, 0.7);
    }
    100% {
        transform: scale(.95);
        text-shadow: 0 0 10px rgba(242, 125, 66, 0.5);
    }
}

@keyframes glow {
    0% {
        transform: scale(.95);
        text-shadow: 0 0 10px rgba(242, 125, 66, 0.5);
    }
    50% {
        transform: scale(1.5);
        text-shadow: 0 0 10px rgba(242, 125, 66, 0.9);
    }
    100% {
        transform: scale(.95);
        text-shadow: 0 0 10px rgba(242, 125, 66, 0.5);
    }
}

.nav-button:visited {
    color: #393939;
}

header {
    padding: 10px 0 4px;
    position: fixed;
    width: 100%;
    /*width: [object Object]px; 
	height: [object Object]px; */
    background-color: #ffffff;
    border-bottom: #C6AF9D 3px;
	/*background-color: #022449; 
	border-bottom: solid #011123 3px; */

    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.6);
    position: fixed;
    width: 100%;
    padding: 10px 0 4px;
    z-index: 9999;

}

.logo {
    /*max-width: 80px;*/
    margin-top: 10px;
    max-width: 100px;
    text-align: left;
    float: left;

    color: #393939;
    text-decoration: none;
    
}

.logo:hover,
.logo:focus {
    animation: 2s pulse calc(1) ease-in-out, 2s glow infinite 2s;
}















/*.button.contact {
    margin: 10px;
    background-color: transparent;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    border: 2px solid #ffffff;
    transition: 0.2s opacity;
}

.button.contact:hover {
    background-color: #085e36;
    color: #ffffff;
} */

/*.flow.button {
    display: inline-block; /*since the a tag is inline by default you have to change this inline, as well*/
    /*margin: 10px;
    background-color: #085e36;
    color: #ffffff;
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-color: #ffffff;
    border-bottom: 2px solid #1c1d20; /* width of the border, type, color */
   /* transition: 0.2s opacity;
}

.flow.button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
   /* text-decoration: none;
    background-color: #085e36;
    text-transform: uppercase;
}*/

#aboutpage .button:hover {
    transition: 0.4s opacity, 0.5s;
    font-size: 18px ;
}

#aboutpicture, #aboutpictures {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.button-49,
.button-49:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}












nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
   /* font-weight: 700px;
    color: #4a4a4a;*/
}

.navtoggle li:not(:last-child) {
    display: none;
}

.navtoggle, .navtoggle.responsive {
    position: relative;
}

.navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 20px;
    padding-right: 0;
    transition: .7s;
}

.navtoggle li .icon:hover {
    background-color: #022449;
    border-radius: 8px;
    padding: 3px 7px;
    box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
}

.navtoggle.responsive li  {
    display: block;
    text-align: end;
    padding: 12px 0;
    /*border-top: 1px solid #4a4a4a;*/

}

.navtoggle.responsive li:hover {
    border-radius: 3em;
    padding: 10px 24px;
    background-color: #022449;
    border-bottom: 1px solid rgba(242, 125, 66, 0.5);
    box-shadow: inset 0px --1px 10px --5px rgba(242, 125, 66, 0.3);
}

.navtoggle.responsive li:last-child  {
    padding: 0 0 10px;
    border-bottom: 0;
    border-top: 0;
}

.navtoggle.responsive nav {
    text-align: end;
    width: auto;
    margin-top: 42px;
    margin-bottom: 8px;
    
}

.navtoggle.responsive li .icon {
    background-color: #022449;
    border-radius: 8px;
    padding: 3px 7px;
    box-shadow: inset 0 0 4px rgba(0,0,0,0.6);
    transition: .7s;
}

footer { 
    background-color: #C6AF9D;
    padding: 20px 40px;
    border-bottom: #C6AF9D;
    color: #393939;
    text-align: center;
}

footer h2 {
    color: #393939;
}

#sociallinks {
    text-align: center;
}

#sociallinks img {
    height: 32px;
    width: 32px;
}

main {
    padding-top: 80px;
}

#hero {
    background-color: #ffffff;
    color: #022449;
    margin: 0;
    padding: 80px 0 20px 0;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.row {
    margin: 25px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.space {
    line-height: 2;
}

.row#prototype {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#headshot img{
    max-width: 100%;
    border-radius: 100%;
    float: none;
}

#headshotpic {
    width: 100%;
}

.work-image {
    width: 100%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.project-link {
    display: block;
    height: 50px;
    margin-top: -50px;
    visibility: hidden;
}
.project-link img {
    width: 100%;
}

frame {
    display: flex;
    margin: 0 auto;
    background-color: #f5f5f5;
    text-align: center;
    border: #f5f5f5;
    flex-basis: content;
}

#alignedimages {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}











/*nav > ul > li > a:visited {
    color: #4a4a4a;
}

nav > ul > li > a:hover, :focus {
    color: #0e1b21;
    text-decoration: underline;
}

nav > ul > li > a:active {
    color: #455ce9;
}

nav > ul > li > a {  
    color: #4a4a4a;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

/* Highlight text out  */
/*.highlightTextOut a
{
    color: rgba(255, 255, 255, 0.3); 
}

.highlightTextOut a:before, .highlightTextIn a:before
{
    position: absolute;
    color: #FFF;
    top: 0px;
    left: 0px;
    padding: 10px;
    overflow: hidden;
    content: attr(alt);
    transition: all 0.3s;
    transform: scale(0.8);
    opacity: 0;
} 

.highlightTextOut a:hover:before, .highlightTextIn a:hover:before
{
    transform: scale(1);
    opacity: 1;
}*/






/*#dp, #UO, #POV, #PT, #FI  {
    text-align: center;
    font-size: 60px;
}


/*#designprocess > nav {
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
}

#designprocess > nav > ul{
    padding-bottom: 25px; 
    border-bottom: 1px solid #4a4a4a;
}

#designprocess > nav > ul > li > a {
    color: #ffffff;
} */ 





/*#hero span {
    display: block;
}

#navigation {
    background-color: #F8F8F8;
    color: #999d9e;
}

#work {
    background-color: #ffffff;
    color: #0e1b21;
}



/*img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}



/*footer a {
    color: #ffffff;
    text-decoration: underline;
}

footer a:visited {
    color: #455ce9;
}

footer a:hover, a:focus {
    color: #085e36;
    opacity: 0.8;
}

footer a:active {
    color: #0022ff;
}




/*.step.link {
    display:inline-block;
    margin: auto;
    background-color: #ffffff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid #0e1b21;
    transition: 0.2s opacity;
}

.step.link:hover {
    background-color: #0e1b21;
    color: #ffffff;
}

.step.number, .step.name {
   position: relative;
    float: left

}*/

/*Style the social icons*/
/*.social {
    list-style-type: none;
    padding: 0;
    margin-left: -10px;
}
  
.social li {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}
  


/*.social {
    margin: auto;
    width: 10%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}



.row {
    margin: 25px 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }

/*#work .row {
    padding-bottom: 25px; 
    border-bottom: 1px solid #0e1b21;
} */ 

/*#roomypage .row {
    margin-top: 60px;
    margin-bottom: 40px;
}

#hero h1 {
    text-align: center;
}

footer h2 {
    margin: auto;
    padding-top: 10px;
}


.frame-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */



/*.gray {
    width: 100%;
    background-color: #d3d3d3;
    padding-top: 3px;
    
    
}/*

/*.big.img {
    max-width: 100%;
    text-align: center;
}

.small.left {
    max-width: 50%;
    text-align: left;
}

.small.right {
    float: right;
    max-width: 50%;
    text-align: right;
}

#roomy, h2 {
    text-align: left;
}

.gallery {
    display: inline-block;
    width: 25%;
} */

/* ANIMATIONS*/

@keyframes glitch {
    0% {
      clip-path: var(--slice-1);
      transform: translate(-20px, -10px);
    }
    10% {
      clip-path: var(--slice-3);
      transform: translate(10px, 10px);
    }
    20% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 10px);
    }
    30% {
      clip-path: var(--slice-3);
      transform: translate(0px, 5px);
    }
    40% {
      clip-path: var(--slice-2);
      transform: translate(-5px, 0px);
    }
    50% {
      clip-path: var(--slice-3);
      transform: translate(5px, 0px);
    }
    60% {
      clip-path: var(--slice-4);
      transform: translate(5px, 10px);
    }
    70% {
      clip-path: var(--slice-2);
      transform: translate(-10px, 10px);
    }
    80% {
      clip-path: var(--slice-5);
      transform: translate(20px, -10px);
    }
    90% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 0px);
    }
    100% {
      clip-path: var(--slice-1);
      transform: translate(0);
    }
}

@keyframes color-change {
    0% {fill: #edc655;}
    50% {fill: #fcffad;}
    100% {fill: #f76414;}
}

@keyframes color-change-hair {
    0% {fill: #263238;}
    50% {fill: #023e5c}
    100% {fill: #036596}
}

@keyframes cloud-move {
    from {transform: translate(0, 50px);}
    to {transform: translate(200px, 50px);}
}

@keyframes cloud-move-reverse {
    from {transform: translate(446px,48px);}
    to {transform: translate(100px, 48px);}
}

.cloud-back {
    animation: 32s cloud-move-reverse infinite alternate linear;
}

.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
  }

.sun {
    animation: 4s color-change infinite alternate linear;
}

.hair {
    animation: 4s color-change-hair infinite alternate linear;
}


/* media queries*/

[class*="col-"] {
    float: left;
    padding: 0 10px 0 10px;
  }

/* Medium devices (640px and larger)*/
@media only screen and (min-width: 640px) {

header {
    text-align: unset;
    padding: 20px 0 13px;
    
}

main {
    padding-top: 80px;
}

nav {
    width: auto;
    float: right;
    
}

nav > ul {
    margin: 1em 0;
    display: inline-block;
}

nav > ul > li {
    display: inline-block;
} 

body {
    font-size: 18px;
}

h1 {
    font-size: 3em;
}

#hero {
    text-align: center;
}

#hero span {
    display: block;
}

.col-md-6 {
    width: 50%;
}

.col-md-8 {
    width: 60%;
    padding: 10px 20px 10px 10px;
}

#prototype .col-md-8 {
    padding: 10px 0 10px 10px;
}

.col-md-4 {
    width: 33.33%;
    padding: 20px;
}

#prototype .col-md-4 {
    justify-content: space-around;
    align-items: center;
}

.col-md-4 img {
    max-width: 400px;
    display: flex;
    justify-content: space-around;
    border-radius: 100%;
    margin: auto;
}

#headshot {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#headshot img {
    max-width: 400px;
    border-radius: 100%;
    margin: auto;
}

.nav-button {
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    font-weight: 200;
}

.navtoggle.responsive li {
    all: unset;
}

.navtoggle li:not(:last-child) {
    display: inline-block;
}

.navtoggle li:last-child {
    display: none;
}

.logo {
    max-width: 130px;
    padding-top: 8px;
}

.link {
    padding: 0 1%;
}
.link:hover,
.link:focus {
    padding: 0 20px;
}

.arrow {
    color: #c8eff9;
    transition: .8s;
}

.arrow:visited {
    color: #c8eff9;
}

.arrow:hover,
.arrow:visited {
    color: #f27d42;
    text-decoration: underline;
    padding: 0 1.4%;
    background-color: #c8eff9;
    border-radius: 3em;
}

.navtoggle.responsive nav {
    all: unset;
    float: right;
    width: auto;
}

.navtoggle.responsive li:hover {
    all: unset;
}

.container {
    padding: 0 30px;
}


.col-md-3 {
    width: 25%;
}

.col-md-9 {
    width: 75%;
}

.col-md-2 {
    width: 16.66% ;
}

#aboutpage h3 
    { margin-top: 0;
}

.button-49,
  .button-49:after {
    width: 200px;
    height: 86px;
    line-height: 88px; 
}    

}

/* Large devices (1024px or larger*/
@media only screen and (min-width: 1024px) {

body {
    font-size: 22px;
}

main {
    padding-top: 100px;
}

.col-lg-8 {
    width: 50%;
}

.col-lg-7 {
    width: 58.33%;
}

.col-lg-9 {
    width: 75%;
}

.col-lg-3 {
    width: 25%;
}

.col-lg-5 {
    width: 41.66%;
   
}

.col-lg-5 img {
    display: flex;
    justify-content: space-around;
    margin-right: 0px;
}

#headshot {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navtoggle {
    width: 100%;
}

.link:hover,
.link:focus {
    padding: 0 30px;
}

.container {
    padding: 0 50px;
    /*max-width: 1200px;
    margin-left: auto;
    margin-right: auto; */
}

}

/* X-Large devices (1044px and larger) */
@media only screen and (min-width: 1044px) {
.col-xl-4{
    width: 50%;
    float: left;
}

.col-xl-9 {
    width: 75%;
}

.col-xl-3 {
    width: 25%;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

}

/* Extra-large devices (1920px and larger) */
@media only screen and (min-with: 1920px) {

}